<h1> Welcome Admin </h1>

<div class='col-md-8'>
  <h3>Order Filter</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#ordered" aria-controls="ordered" role="tab" data-toggle="tab">Ordered</a></li>
    <li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">Paid</a></li>
    <li role="presentation"><a href="#cancelled" aria-controls="cancelled" role="tab" data-toggle="tab">Cancelled</a></li>
    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">
      <ul>
        <% @orders.each do |order| %>
          <li>#<%= order.id %></li>
          <li>Date: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>Number of Items: <%= order.items.count %></li>
          <li>Status: <%= order.status %></li>
          <li><%= button_to 'View Order', order_path(order), method: :get %></li>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="ordered">
      <ul>
        <% @orders.ordered.each do |order| %>
          <li>#<%= order.id %></li>
          <li>Date: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>Number of Items: <%= order.items.count %></li>
          <li>Status: <%= order.status %></li>
          <li><%= button_to 'View Order', order_path(order), method: :get %></li>
          <li><%= button_to 'Mark as Paid', admin_order_path(order, status: 'paid'), method: :put  %></li>
          <li><%= button_to 'Cancel', admin_order_path(order, status: 'cancelled'), method: :put  %></li>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="paid">
      <ul>
        <% @orders.paid.each do |order| %>
          <li>#<%= order.id %></li>
          <li>Date: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>Number of Items: <%= order.items.count %></li>
          <li>Status: <%= order.status %></li>
          <li><%= button_to 'View Order', order_path(order), method: :get %></li>
          <li><%= button_to 'Mark as Completed', admin_order_path(order, status: 'completed'), method: :put  %></li>
          <li><%= button_to 'Cancel', admin_order_path(order, status: 'cancelled'), method: :put  %></li>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="cancelled">
      <ul>
        <% @orders.cancelled.each do |order| %>
          <li>#<%= order.id %></li>
          <li>Date: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>Number of Items: <%= order.items.count %></li>
          <li>Status: <%= order.status %></li>
          <li><%= button_to 'View Order', order_path(order), method: :get %></li>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="completed">
      <ul>
        <% @orders.completed.each do |order| %>
          <li>#<%= order.id %></li>
          <li>Date: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>Number of Items: <%= order.items.count %></li>
          <li>Status: <%= order.status %></li>
          <li><%= button_to 'View Order', order_path(order), method: :get %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
