<h1> Welcome Admin </h1>

<div class='col-md-6'>
  <h3>All Orders</h3>
  <ul>
    <% @orders.each do |order| %>
      <li>#<%= order.id %></li>
      <li>Date:<%= order.created_at.strftime('%B %d, %Y') %></li>
      <li>Number of Items:<%= order.items.count %></li>
      <li>Status:<%= order.status %></li>
      <li><%= button_to 'View Order', order_path(order), method: :get %></li>
      <li>Conditional button dependent on status</li>
    <% end %>
  </ul>
</div>

<div class='col-md-6'>
  <h3>Order Filter</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ordered</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paid</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Cancelled</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Completed</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">There should be a bunch of orders that have the status of 'ordered' here</div>
    <div role="tabpanel" class="tab-pane" id="profile">A ton of paid orders. makin dat money$$$$$$$$$$$$$$</div>
    <div role="tabpanel" class="tab-pane" id="messages">boooooooo cancelled orders wah wah</div>
    <div role="tabpanel" class="tab-pane" id="settings">completed, delivered that swag!</div>
  </div>
</div>
