<div class="text-center">

<h1> Your Order </h1>
</div>

<h3> <%= @order.created_at.strftime('%B %d, %Y %r') %> </h3>

<table class="table table-hover">
    <th></th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>

    <% @order.items.each do |item| %>
    <tr>
        <td><%= image_tag item.image, size:'50x50', alt:'Dank pie' %> </td>
        <td><%= link_to item.title, item_path(item) %> </td>
        <td><%= item.item_quantity %> </td>
        <td><%= number_to_currency(item.price) %> </td>
        <td><%= number_to_currency(item.subtotal) %> </td>
    </tr>
    <% end %>
</table>

  <div class="text-center">
    Updated At: <h5> <%= @order.updated_at.strftime('%B %d, %Y %r') %> </h5>
    Status: <%= @order.status %> <br>

    Total: <%= number_to_currency(@order.totalize) %>
  </div>

<% if current_user.admin? %>
  <h1>Admin Info</h1>
  <%= @order.user.name %>
  <%= @order.user.email %>
  <%= @order.user.street %>
  <%= @order.user.city %>
  <%= @order.user.state %>
  <%= @order.user.zip %>
  <%= @order.user.phone %>
<% end %>
