<h1> Your Order </h1>

<h3> <%= @order.created_at.strftime('%B %d, %Y') %> </h3>

<% @order.items.each do |item| %>
  <div>
    <%= image_tag item.image, size:'50x50', alt:'Dank pie' %>
    <%= link_to item.title, item_path(item) %>
    <%= item.item_quantity %>
    <%= number_to_currency(item.price) %>
    <%= number_to_currency(item.subtotal) %>
  </div>
<% end %>

Updated At: <h5> <%= @order.updated_at.strftime('%B %d, %Y') %> </h5>
Status: <%= @order.status %> <br>

Total: <%= number_to_currency(@order.totalize) %>

<% if current_user.admin? %>
  <h1>Admin Info</h1>
  <%= @order.user.name %>
  <%= @order.user.email %>
  <%= @order.user.street %>
  <%= @order.user.city %>
  <%= @order.user.state %>
  <%= @order.user.zip %>
  <%= @order.user.phone %>
<% end %>
