<h1>Your Cart</h1>

<% @items.each do |item, quantity| %>
  Title:<p><%= item.title %></p>
  <img class="img-thumbnail" src="<%= item.image %>" alt="delicious <%= item.title %>" height="100" width="100"/><br>
  Description:<p><%= item.description %></p>
  Price:<p><%= number_to_currency(item.price) %></p>
  Quantity:
  <%= form_tag(cart_path(item_id: item.id), method: :put) do %>
    <%= select_tag(:quantity, options_for_select(['1','2','3','4','5','6','7','8','9','10'], quantity)) %>
    <%= submit_tag 'Update' %>
  <% end %>
  <%= button_to "Remove", cart_path(item_id: item.id), method: :delete %>
<% end %>
Total: <%= number_to_currency(@total) %>
<% if logged_in? %>
  eventual button checkout
<% else %>
  <%= button_to "Login or Create Account to Checkout", login_path, method: :get %>
<% end %>
