<h1> All Items For <%= @category.title %> </h1>
  <% @category.items.each do |item| %>
    <div class="col-md-4 <%= item.title %>" >
      <h4> <%= item.title %> </h4> <br>
      <img class="img-thumbnail" src=" <%= item.image %> " alt="delicious item" /> <br>
      <p><%= item.description %></p>
      <p><%= number_to_currency(item.price) %></p>
      <%= button_to "Add To Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
    </div>
  <% end %>
