<!DOCTYPE html>
<html>
  <head>
    <title>RoboPie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="jumbotron nuts">
      <div class="container">
        <h1 id="header_title"> Robo Pies </h1>
      </div>
    </div>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
             <%= image_tag("robothead.jpg", alt: "Robo Pies Icon", size: "50x50") %>
          </li>
        </ul>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Robo Pies</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li class="active"><a href="<%= dashboard_path %>">Home <span class="sr-only">(current)</span></a></li>
          <% else %>
            <li class="active"><a href="<%= login_path %>">Home <span class="sr-only">(current)</span></a></li>
          <% end %>
          <li><a href="<%= items_path %>">Menu</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <li class="disabled" > <a href="#">Logged in as <%= current_user.name %> </a> </li>
          <% else %>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
          <li> <%= link_to "Cart: #{@cart.total}", cart_path, method: :get, id: 'cart' %> </li>
        </ul>
      </div><!-- /.navbar-collapse c-->
    </div><!-- /.container-fluid -->
  </nav>

    <% flash.each do |type, message| %>
      <%= content_tag(:div, message.html_safe, class: "#{type} text-center flash") %>
    <% end %>

    <%= yield %>
  </body>
</html>
